*{
    padding: 10;
    margin: 10;
    text-align: center;   
}
html,body{
    background-image: url(Esesa.jpg);
    background-size: 100%;
}
{
    .main-container{
        border: 10px solid rgb(0, 0, 0);
        border-radius: 10;
        margin: 2rem;
        background-color: #fae1dd

    }
}
nav,article,aside,footer{
    border: 10px solid rgb(0, 0, 0);
    margin: 1rem;
    border-radius: 10px;
    padding: 3rem;

}
nav,article,aside,footer{
    width: 30%;
    display:inline-block;
    height: 350px;
    background-color: #ffc6ff

}
section{
    border: 10px solid rgb(0, 0, 0);
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
    background-color: #ffadad
}
blockquote{
    border: 10px solid rgb(0, 0, 0);
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
    background-color: #ffc6ff

}